<!DOCTYPE html>
<html>
<head>
    <title>{{userprofile}}'s detail</title>
</head>
<body>
<div id="detail_profil">
    <h3>Detail Profil</h3>
    <p id="firstname">Firstname</p>
    <p id="f_val">{{ userprofile.firstname }}</p>
    <p id="lastname">Lastname</p>
    <p id="l_val">{{ userprofile.lastname }}</p>
</div>
<div id="detail_phone">
    <h3>Detail Phone</h3>
    <!-- <p id="firstname">Nomor</p>
    <p id="f_val">{{ userprofile.nomor.all[0].nomor }}</p>
    <p id="lastname">Tipe</p>
    <p id="l_val">{{ userprofile.nomor.all[0].tipe }}</p> -->
</div>
</body>
</html>